<%= form_for(@physician) do |f| %>
  <%= f.label :first_name, "Имя" %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name, "Фамилия"%>
  <%= f.text_field :last_name %>

  <%= f.label :specialty, "Специализация" %>
  <%= f.text_field :specialty %>

  <%= f.submit "Сохранить"%>
<% end %>
