<h1>Карточки врачей</h1>

<% @physicians.each do |p| %>
  <ul>
    <li><%= p.first_name %> <%= p.last_name %></li>
    <li><%= p.specialty %></li>
  </ul>
  <%= link_to "Редактировать", edit_physician_path(p.id) %>
<% end %>
<p>
  <%= link_to "Вернуться на главную", root_path %>
</p>
