<%= form_for @appointment do |form| %>
  <% if @appointment.errors.any? %>
          <ul>
            <% @appointment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
  <% end %>

  <%= form.label :physician_id, "Врач" %>
  <%= form.select(:physician_id, [["Терапевт", '1'], ["Лор", '2'], ["Иммунолог", '3']]) %>
  
  <%= form.label :patient %>
  <%= form.text_field :patient %>

  <%= form.label :date %>
  <%= form.date_select(:date, order: [:year, :month, :day])%>

  <%= form.label :time %>
  <%= form.select(:time, [['9-00'], ['10-00'], ['11-00'], ['12-00'], ['14-00'], ['15-00'], ['16-00'], ['17-00']]) %>
  
  <%= form.submit "Сохранить" %>
<% end %>
