<h1>Записать к врачу</h1>

<% @physicians.each do |a| %>
  <ul>
    <li><%= a.first_name %> <%= a.last_name %></li>
    <li><%= a.specialty %></li>
    <% a.appointments.each do |f| %>
      <ul>
        <li>Время: <%= f.time %></li>
        <li>Дата: <%= f.date %></li>
        <li>Пациент: <%= f.patient %></li>
      </ul>
      <%= link_to "Редактировать запись", edit_appointment_path(f.id) %>
    <% end %>
  </ul> 
<% end %>
<p>
  <%= link_to "Создать запись", new_appointment_path %>
</p>
<p>
  <%= link_to "Создать карточку врача", new_physician_path %>
</p>
<p>
  <%= link_to "Наши врачи", physicians_path %>
</p>
